@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="title">BINGO</h1>
    @if (Model.game != null)
    {
        <h2>Pulled</h2>
        <div class="balls">
            @foreach (int number in Model.game.numbers)
            {
                <span class="ball">@number</span>
            }
        </div>
        @if (Model.card != null)
        {
            <div class="container">
                <div class="ticket col-md-8 offset-md-2 gy-0">
                    <h2>Bingo card</h2>
                    <hr />
                    @foreach (int[] row in Model.card.table)
                    {
                        <div class="row">
                            @foreach (int num in row)
                            {
                                @if (Array.Exists(Model.game.numbers, el => el == num))
                                {
                                    <div class="num matched">@num</div>
                                }
                                else
                                {
                                    <div class="num">@num</div>
                                }
                            }
                        </div>
                    }
                <hr />
                <h3 class="score">Score:<span>@Model.score</span></h3>
                </div>
            </div>
        }
    }
    <div class="container">
        @* linking to the same page would most likely cause no reload to occure *@
        <div class="col-3 offset-5 score-box"><button onclick="window.location.reload();" type="button" class="btn btn-lg btn-outline-dark">Play again</button></div>
    </div>
</div>
